.icon-container {
	display: inline-block;
	width: 140px;
	height: 140px;
	background-color: #e1f3e1;
	border-radius: 35px;
	position: relative; 
}

.icon-container .material-icons {
	display: block;
	font-size: 85px;
	color: rgb(84, 209, 84);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: default;
}

.img-box-round {
	display: inline-block; /*Se ajusta ao conteudo interno*/
	border-radius: 100%;
	overflow: hidden; /*Ele corta o excesso, neste caso as bordas para que tudo fique redondo*/
}

.img-box-label:before {
	content: '';
	display: block;
	width: 50%;
	height: 60px;
	border-right: 2px solid rgb(32, 123, 32);
	background: transparent;
	margin-bottom: 10px; 
}
