@import url('../styles.css');

#header.page-quem-somos {
	background-image: url("../../images/background-quem-somos.jpg");
}

#intro h2, #valores h2 {
	font-size: 20px;
}

#intro h2 {
	text-align: left;
}

#intro h2:after {
	margin: 5px 0 0 0;
}

#valores {
	background-color: #f3f0e7;
}

#valores h2 {
	margin-top: 20px;
}

#valores h2:after {
	display: none;
}

.section .moldura {
	border-radius: 7px;
}

#img-box img {
		max-width: 100%;
		height: auto;
	}

@media (max-width: 992px) {
	#img-box {
		text-align: center;
	}
}
